<!DOCTYPE html>
<html>
  <head>
    <title>Plataforma | Playroom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application' %>

  </head>

  <body>
    <% if devise_controller? %>
      <div class="devise-main-container">
        <div class="devise-navbar">
          <%= image_tag "playroom_logo.png" %>
        </div>
        <div class="devise-container">
          <%= yield %>
        </div>
      </div>
    <% else %>

      <%= yield %>
      
    <% end %>
  </body>
</html>
